@tailwind base;
@tailwind components;
@tailwind utilities;


.carousel-button-group {
  position: relative;
  top: -50px;
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin: 0 auto;
}
